@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-serif: "Playfair Display", ui-serif, Georgia;
}