/* @font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DM_Mono/DMMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DM_Mono/DMMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DM_Mono/DMMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DM_Mono/DMMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DM_Mono/DMMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DM_Mono/DMMono-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
} */

@font-face {
  font-family: 'Unna';
  src: url('/fonts/Unna/Unna-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unna';
  src: url('/fonts/Unna/Unna-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Unna';
  src: url('/fonts/Unna/Unna-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Unna';
  src: url('/fonts/Unna/Unna-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

:root {
  --color-white: #faf9f6;
  --color-black: #000000;
  --color-gray: #888888;
  --color-border: #cccccc;
  --color-overlay: rgba(0, 0, 0, 0.3);
  --ease-overlay: 0.25s;
  --ease-text: 0.2s;
  --font-size-base: 17px;
  --letter-spacing-base: 0.03em;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Unna', serif;
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base);
  background-color: var(--color-white);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23767676' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}



a {
  text-decoration: none;
}
